<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title>View All Dokter</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (pageTitle='View All Dokter')"></nav>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>NIP</th>
                <th>NIK</th>
                <th>Jenis Kelamin</th>
                <th>Tanggal Lahir</th>
                <th>Tempat Lahir</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dokter,iterationStatus : *{dokterList}">
                <td th:text="${dokter.namaDokter}"></td>
                <td th:text="${dokter.nipDokter}"></td>
                <td th:text="${dokter.nikDokter}"></td>
                <td th:text="${dokter.jenisKelamin}"></td>
                <td th:text="${dokter.tanggalLahir}"></td>
                <td th:text="${dokter.tempatLahir}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>