<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <h2 align="center">Sistem Informasi Dokter</h2>
    <br>

    <div class="card text-center">
        <div class="card-header bg-dark text-white" align="left">
            Daftar Dokter
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">NIP</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Spesialisasi</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody th:each="dokter, iterationStatus : ${dokterList}">
                    <tr>
                        <th scope="row" th:text="${iterationStatus.count}"></th>
                        <td><a th:text="${dokter.namaDokter}" th:href="@{/dokter/} + ${dokter.nikDokter}"></a></td>
                        <td th:text="${dokter.nipDokter}"></td>
                        <td th:text="${dokter.nikDokter}"></td>
                        <td
                            th:text="${dokter.jenisKelamin} == 1 ? 'Laki-Laki' : (${dokter.jenisKelamin} == 2 ? 'Perempuan')">
                        </td>
                        <!-- <td>
                            <ul th:each="spesialisasi : ${dokter.listSpesialisasi}">
                                    <li th:text="${spesialisasi.namaSpesialisasi}"></li>
                            </ul> 
                        </td> -->
                        <td>
                            <span th:if="${#lists.size(dokter.listSpesialisasi)} == 0">-</span>
                                <span th:unless="${#lists.size(dokter.listSpesialisasi)} == 0">
                                    <ul th:each="spesialisasi : ${dokter.listSpesialisasi}">
                                        <li th:text="${spesialisasi.namaSpesialisasi}"></li>
                                    </ul> 
                                </span>
                            </td>
                        <td>
                            <form th:action="@{/jadwal/tambah/} + ${dokter.nipDokter}" th:method="GET">       
                            <button class="btn btn-primary" value="submit">Tambah Jadwal</button>
                        </form>
                        </td>
                        <td>
                            <form th:action="@{/dokter/update/} + ${dokter.idDokter}" th:method="GET">       
                            <button class="btn btn-dark text-white" value="submit">Ubah</button>
                        </form>
                        </td>
                        <td>
                            <form th:action="@{/dokter/delete/} + ${dokter.idDokter}" th:method="POST">       
                            <button class="btn btn-danger" value="submit">Hapus</button>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <td>
                    <form th:action="@{/dokter/delete/}" th:method="GET">       
                        <button class="btn btn-dark text-white" value="submit">Tambah Dokter</button>
                    </form>
                </td>
            </div>
        </div>
    </div>
</body>
</html>