<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div align="center">
            <br>
            <h3 align="center">Cari Dokter yang Paling Banyak Bertugas di Suatu Poli</h3>
            <br>
            <form th:action="@{/cari-dokter-poli}" method="GET">
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <label class="col-sm-1 col-form-label">Poli</label>
                    <div class="col-sm-4">
                        <select class="form-control container1" id="sel1" name="idPoli">
                            <option value="">Pilih Poli</option>
                            <option th:each="poli : ${poliList}" th:text="${poli.namaPoli}" th:value="${poli.idPoli}">
                            </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Submit </button>
            <br>
            </form>
            <br>

            <div th:if="${dokter != null}">
                <div class="card" style="width: 22rem;" align="center">
                    <div class="card-header bg-dark">
                        <h3 class="text-white">Detail Dokter</h3>
                    </div>
                    <div class="card-body">
                        <p th:text="'Nama : ' + ${dokter.namaDokter}"></p>
                        <p th:text="'NIP : ' + ${dokter.nipDokter}"></p>
                        <p th:text="'NIK : ' + ${dokter.nikDokter}"></p>
                        <p th:text="'Tempat Lahir : ' + ${dokter.tempatLahir}"></p>
                        <p th:text="'Tanggal Lahir : ' + ${dokter.tanggalLahir}"></p>
                        <p
                            th:text="${dokter.jenisKelamin} == 1 ? 'Jenis Kelamin : Laki-Laki' : (${dokter.jenisKelamin} == 2 ? 'Jenis Kelamin : Perempuan')">
                        </p>
                        <p th:text="'Spesialisasi: ' + ${dokter.listSpesialisasi[0].namaSpesialisasi}"></p>
                    </div>
                </div>
            </div>
            <br>
            <a href="/">Kembali ke Beranda</a>
        </div>
    </div>
</body>
</html>