<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <h2 align="center">Sistem Informasi Dokter</h2>
    <br>

    <div class="card text-center">
        <div class="card-header bg-dark text-white" align="left">
            Daftar Poli
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Lokasi</th>
                    <th scope="col"></th>

                    </tr>
                </thead>
                <tbody th:each="poli, iterationStatus : ${poliList}">
                    <tr>
                        <th scope="row" th:text="${iterationStatus.count}"></th>
                        <td th:text="${poli.namaPoli}"></td>
                        <td th:text="${poli.lokasiPoli}"></td>
                    </tr>
                </tbody>
                
            </table>
            <div align="right">
                <td>
                    <!-- <form th:action="@{/poli/tambah/}" th:method="GET">        -->
                        <button class="btn btn-dark text-white" value="submit">Tambah Poli</button>
                    <!-- </form> -->
                </td>
            </div>
        </div>
    </div>
</body>
</html>