<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Detail Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div align="center">
            <br>
            <div class="card" style="width: 22rem;" align="left">
                <div class="card-header bg-dark">
                    <h3 class="text-white">Detail Dokter</h3>
                </div>
                <div class="card-body">
                    <p th:text="'Nama : ' + ${dokter.namaDokter}"></p>
                    <p th:text="'NIP : ' + ${dokter.nipDokter}"></p>
                    <p th:text="'NIK : ' + ${dokter.nikDokter}"></p>
                    <p th:text="'Tempat Lahir : ' + ${dokter.tempatLahir}"></p>
                    <p th:text="'Tanggal Lahir : ' + ${dokter.tanggalLahir}"></p>
                    <p
                        th:text="${dokter.jenisKelamin} == 1 ? 'Jenis Kelamin : Laki-Laki' : (${dokter.jenis_kelamin} == 2 ? 'Jenis Kelamin : Perempuan')">
                    </p>
                    <p th:text="Spesialisasi"></p>
                    <ul th:each="spesialisasi : ${dokter.listSpesialisasi}">
                        <li th:text="${spesialisasi.namaSpesialisasi}"></li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>