<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <br>
        <h3> Tambah Dokter </h3>
        <form th:action="@{/dokter/tambah}" th:object="${dokter}" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="namaDokter">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">NIK</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="nikDokter">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tanggal Lahir </label>
            <div class="col-sm-7">
                <input type="date" class="form-control" name="tanggalLahir">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tempat Lahir</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="tempatLahir">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
            <div class="col-sm-7">
                <select class="form-control" id="sel1" name="jenisKelamin">
                    <option value="1">laki-Laki</option>
                    <option value="2">perempuan</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Spesialisasi</label>
            <div class="col-sm-7">
                <select class="form-control" id="sel1" th:field="*{listSpesialisasi}">
                    <option value="">Pilih Spesialisasi</option>
                    <option th:each="spesialisasi : ${listSpesialisasi}" th:text="${spesialisasi.namaSpesialisasi}"
                    th:value="${spesialisasi.idSpesialisasi}"></option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary text-white" type="submit"> Submit </button>
        </form>
        </div>
</body>
</html>