<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <h2 align="center">Sistem Informasi Dokter</h2>
    <br>

    <div class="card text-center">
        <div class="card-header bg-dark text-white" align="left">
            Daftar Dokter
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Dokter</th>
                    <th scope="col">Spesialisasi</th>

                    </tr>
                </thead>
                <tbody th:each="jadwalJagaByPoli, iterationStatus : ${listJadwalJagaByPoli}">
                    <tr>
                        <th scope="row" th:text="${iterationStatus.count}"></th>
                        <td th:text="${jadwalJagaByPoli.dokter.namaDokter}"></td>
                        <!-- <td th:text="${jadwalJagaByPoli.dokter.listSpesialisasi[0].namaSpesialisasi}"></td> -->
                        <td>
                                <span th:if="${#lists.size(jadwalJagaByPoli.dokter.listSpesialisasi)} == 0">-</span>
                                    <span th:unless="${#lists.size(jadwalJagaByPoli.dokter.listSpesialisasi)} == 0">
                                        <ul th:each="spesialisasi : ${jadwalJagaByPoli.dokter.listSpesialisasi}">
                                            <li th:text="${spesialisasi.namaSpesialisasi}"></li>
                                        </ul> 
                                    </span>
                                </td>
                            <td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>